################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DB Host/MyDB.mdf
/DB Host/MyDB_log.ldf
.vs/